.container-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  margin: 16px;
  padding: 10px;
  border-radius: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%; /* Cambiado a 100% para adaptarse al tamaño de la pantalla */
  max-width: 650px; /* Limitar el tamaño máximo */
  transition: ease-in-out;
  transition-duration: 0.3s;
}

.container-a:hover {
  background: rgb(81, 186, 218);
  opacity: 0.9;
  color: white;
  transform: scale(1.05);
  cursor: pointer;
}

.item-name {
  color: rgb(0, 0, 0);
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.item-description {
  color: rgb(0, 0, 0);
  margin-right: 10px;
  opacity: 0.8;
}

.item-stock {
  color: rgb(151, 26, 26);
  margin-right: 10px;
}

.item-price {
  color: rgb(151, 26, 26);
  margin-right: 10px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .container-a {
    flex-direction: column; /* Cambiar dirección de flex a columna en pantallas pequeñas */
    align-items: flex-start;
    padding: 12px;
  }

  .item-name {
    font-size: 18px; /* Reducir tamaño de fuente */
    margin-right: 5px;
  }

  .item-description {
    font-size: 16px; /* Reducir tamaño de fuente */
  }

  .item-stock,
  .item-price {
    font-size: 16px; /* Reducir tamaño de fuente */
    margin-right: 5px;
  }
}

@media (max-width: 480px) {
  .container-a {
    padding: 8px;
  }

  .item-name {
    font-size: 16px; /* Reducir aún más tamaño de fuente */
  }

  .item-description,
  .item-stock,
  .item-price {
    font-size: 14px; /* Reducir tamaño de fuente */
  }
}
